@using Microsoft.AspNetCore.Components.Forms

<div class="main">
    <aside>
        @if(DashboardActionBar != null)
            @DashboardActionBar

        <div class="categories">
            <div class="categories-title">
                <a  href="/"> <p>Categories</p> </a>
                <button class="toggle-btn" onclick="toggleCategories()">☰</button>
            </div>
            <ul class="categories-list">
                @foreach (var category in ProductsScope.GetCategories())
                {
                    <li>
                        @if (category == Category)
                        {
                            <a class="selected" href="@(PathBase +$"?category={@category}")">@category</a>
                        }
                        else
                        {
                            <a href="@(PathBase + $"/?category={@category}")">@category</a>
                        }
                    </li>
                }
            </ul>

        </div>
    </aside>
    <div class="products-view">

        <div class="filter">

            <label class="order-by" for="order-by-select"> Order by:</label>

            <select class="order-by" name="order-by-select" @onchange="OnSortOrderChange">
                <option class="order-by" value="name">Name</option>
                <option class="order-by" value="price">Price</option>
            </select>

            <div>
                <label class="price-range" for="low-price-range">Price range:</label>
                <InputNumber class="price-range" type="number" name="low-price-range" @bind-Value="@PriceRangeMin"></InputNumber>

                <label class="price-range" for="low-price-range"> - </label>
                <InputNumber class="price-range" type="number" name="height-price-range" @bind-Value="@PriceRangeMax"></InputNumber>
            </div>

        </div>

        <div class="products">
            @if (@DisplayProducts == null || @DisplayProducts.Count == 0)
			{
                @for(int i = 0; i < 8; ++i)
                {
                    <ProductDummy/>
                }
			}
            else
            {
                @foreach (var product in @DisplayProducts)
                {
                    <ProductComponent Product="@product">
                        @ChildContent(product)
                    </ProductComponent>
                } 
            }
        </div>
    </div>
</div>

<script>
    function toggleCategories() {
        const categories = document.querySelector('.categories');
        categories.classList.toggle('show');
    }
</script>
