@page "/"
@using PresentationClient.Entities

<PageTitle>Home</PageTitle>

<NavMenu/>

<div class="main">

    <div class="categories">
        <a class="categories-title" href="/">
            <p>Categories</p>
        </a>

        <ul class="categories-list">
            @foreach (var category in ProductsScope.Instance.Categories())
            {
                <li>
                    @if (category == Category)
                    {
                        <a class="selected" href="@($"/?category={@category}")">@category</a>
                    }
                    else
                    {
                        <a href="@($"/?category={@category}")">@category</a>
                    }
                </li>
            }
        </ul>

    </div>

    <div class="products-view">

        <div class="filter">

            <label class="order-by" for="order-by-select"> Order by:</label>

            <select class="order-by" name="order-by-select" @onchange="OnSortOrderChange">
                <option class="order-by" value="name">Name</option>
                <option class="order-by" value="price">Price</option>
            </select>

            <label class="price-range" for="low-price-range">Price range:</label>
            <InputNumber class="price-range" type="number" name="low-price-range" @bind-Value="@PriceRangeMin"></InputNumber>

            <label class="price-range" for="low-price-range"> - </label>
            <InputNumber class="price-range" type="number" name="height-price-range" @bind-Value="@PriceRangeMax"></InputNumber>

        </div>

        <div class="products">
            @foreach (var product in @DisplayProducts)
            {
                <ProductView Product=@product/>
            }
        </div>

    </div>

</div>